<div class="ui page grid">

  <div class="ui row aligned left">
    <h4 class="ui header">Search with card info</h4>
  </div>

  <div class="ui row aligned left">
    <div class="ui four wide column input">
      <input type="text" placeholder="Card Name">
    </div>

    <div class="ui four wide column input">
      <input type="text" placeholder="Last Four Digits">
    </div>

    <div class="ui four wide column input">
      <input type="text" placeholder="Visa/Master/Amex/Discover">
    </div>

    <div class="ui four wide column">
      <button class="ui button" value="Search">Search</button>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>